In [1]:
class myclass:
    x=410
    y=20
    z=x*y

In [2]:
p=myclass()
print(p.z)

8200

In [3]:
#init Function
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person("Riitk",25)
print(p1.name)
print(p1.age)

Riitk
25

In [4]:
myclass.x

410

In [1]:
class person:

SyntaxError: incomplete input (3867025471.py, line 2)

In [2]:
class person:
    pass

In [3]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age=age
    def myfunc(self):
        print("Hello my name is"+self.name)
p1=print("Riitk",21)
p1.myfunc()

Riitk 21

AttributeError: 'NoneType' object has no attribute 'myfunc'

In [4]:
class Student:
Total = 500 # Class variable
def __init__(a,marks):
a.marks=marks
print("Initialized...")
def mul(self):
return self.marks * self.Total
p1 = Student(300)
p1.mul()

IndentationError: expected an indented block after class definition on line 1 (1905535878.py, line 2)

In [8]:
class Student:
    Total = 500 # Class variable
    def __init__(self, name, marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")
    def __len__(self):
        return self.marks
    def __str__(self):
        return "Name: %s | Marks: %s | Gender: %s" %(self.name,self.marks,self.gender)
    def __del__(self):
        print("Student Database is Deleted")

In [9]:
a = Student('Ritik', '454', 'male')
B = Student('chiku', 356, 'Female')

Initialized...
Initialized...

In [10]:
print(B)

Name: chiku | Marks: 356 | Gender: Female

In [12]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
    def myfunc(abc):
        print("Hello my name is " + abc.name, + abc.age )
p1 = Person("John", 36)
p1.myfunc()

Hello my name is John 36

In [13]:
p1.age = 40
p1.myfunc()

Hello my name is John 40

In [14]:
del p1.age
p1.myfunc()

AttributeError: 'Person' object has no attribute 'age'

In [20]:
del p1
p1.myfunc()

NameError: name 'p1' is not defined

In [25]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
x = Person("Sanjukta", "Pati")
x.printname()

Sanjukta Pati

In [26]:
class Student(Person):
    pass

In [27]:
x = Student("Riitk", "Pati")
x.printname()

Riitk Pati

In [28]:
class Student(Person):
    def __init__(self, fname, lname):
        pass

In [29]:
class Student(Person):
    def __init__(self, fname, lname):
        Person.__init__(self, fname, lname)
    x = Student("Mike", "Olsen")
x.printname()

Riitk Pati

In [31]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = 2024
x = Student("Mishra", "pati")
print(x.graduationyear)
x.printname()

2024
Mishra pati

In [35]:
class Sohan:
    def __init__(self):
        print("Profile created")
    def name(self):
        print("Sohan Mohapatra")
    def age(self):
        print("22")

In [36]:
class SpaceX(Sohan):
    def __init__(self):
        super().__init__() # Correctly call the parent class's initializer
        print("Company Profile created")
    def name(self):
        print("SpaceX")
    def type(self):
        print("Private Space travel")

In [37]:
# Creating an instance of the SpaceX class
spacex_profile = SpaceX()
# Calling methods on the instance
spacex_profile.name()
spacex_profile.age()
spacex_profile.type()

Profile created
Company Profile created
SpaceX
22
Private Space travel

In [38]:
a = SpaceX()

Profile created
Company Profile created
Student Database is Deleted

In [39]:
class Elon:
    def __init__(self, name):
        self.name = name
    def type(self):
        return "Entrepreneur"
class Sundar:
    def __init__(self, name):
        self.name = name
    def type(self):
        return "CEO"

In [40]:
person1 = Elon('Elon Musk')
person2 = Sundar('Sundar Pichai')
# Function to demonstrate polymorphism
def print_person_type(person):
    print(f"{person.name} is a {person.type()}")
# Calling the function with different objects
print_person_type(person1)
print_person_type(person2)

Elon Musk is a Entrepreneur
Sundar Pichai is a CEO

In [42]:
class MyClass:
    def __init__(self, value):
        self.value = value
obj = MyClass(10)
print(obj.value)

10